.bg-img {
  background-image: url("https://www.teahub.io/photos/full/314-3146394_batman-beyond-animated-show-art-wallpaper-batman-beyond.jpg");
  /* background-image: url("https://images3.alphacoders.com/650/650688.png"); */
  object-fit: contain;
}

.width {
  width: 400px;
  border: 2px solid;
}
